@import 'datatables.net-dt/css/dataTables.dataTables.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.h-100-vh {
    height: 100vh;

}

.no-underline {
    text-decoration: none;
}

body {
    margin: 0 !important;
}

.main-background {
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
    /* Center the image within the container */
    background-repeat: no-repeat;
    /* Prevent image repetition */
    height: 90vh;
    /* Set the element's height to 100% viewport height */
}

.align-middle-test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-navbar {
    grid-template: "a b c" / 10% 80% 10%;
}